{% extends "banner.html" %}

{% block title %}
    Fish Genus Identification
{% endblock title %}
{% block content %}

    <div class="container">

        <!-- Enforce blank line gap betwen banner and content -->
        <div class="divider"></div>

        <div class="row">
            <div class="col s2"></div>
            <div class="col s8">
                <canvas id="myCanvas" width="700" height="400" style="border:1px solid #d3d3d3;"></canvas>
            </div>
            <div class="col s2"></div>
        </div>

        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col s2"></div>
                <div class="col s7">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            <input type="file" name="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
                <div class="col s3"></div>
            </div>

            <!-- show classify button when image accepted -->
            <div class="row">
                <div class="col s2"></div>
                <div class="col s6">
                    <button class="btn waves-effect waves-light" type="submit">Upload
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <div class="col s2"></div>
            </div>
        </form>
        {% if upload_flag %}
            <img id="hidden_img" src="{{ url_for('route.get_image', filename=img_name) }}" style="display: none;">
            <div class="row">
                <div class="col s2"></div>
                <div class="col s8">
                    <ul class="collapsible">
                        {% if predicted_fish == "Abudefduf" %}
                        <li>
                            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_up</i>Abudefduf</div>
                            <div class="collapsible-body">
                                {% include include_html %}
                            </div>
                        </li>
                        {% elif predicted_fish == "Amphiprion" %}
                        <li>
                            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_right</i>Amphiprion</div>
                            <div class="collapsible-body">
                                {% include include_html %}
                            </div>
                        </li>
                        {% elif predicted_fish == "Chaetodon" %}
                        <li>
                            <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i>Chaetodon</div>
                            <div class="collapsible-body">
                                {% include include_html %}
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col s2"></div>
            </div>
            </div>
        {% endif %}
    </div>

    <script>
        let c = document.getElementById("myCanvas");
        let ctx = c.getContext("2d");

        $(document).ready(function () {
            let c = document.getElementById("myCanvas");
            let ctx = c.getContext("2d");

            {% if upload_flag %}
                // we originally intend to manipulate dom element, however it needs to be silently reloaded with AJAX
                // document.getElementById("hidden_img").src = "{{ url_for('route.get_image', filename=img_name) }}";
                let img = document.getElementById("hidden_img");
                ctx.drawImage(img, 0, 0);
            {% endif %}
            $('.collapsible').collapsible();
        });

        ctx.beginPath();
        ctx.rect(0, 0, c.width, c.height);
        ctx.fillStyle = "grey";
        ctx.fill();

        let upload_toast = function () {
            M.toast({html: 'Image uploaded', displayLength: 3000, classes: 'green'});
        };

        let fail_upload_toast = function () {
            M.toast({html: 'Extension not allowed', displayLength: 3000, classes: 'red '});
        }

        let size_unmatch_toast = function () {
            M.toast({html: 'Size not match as required', displayLength: 3000, classes: 'yellow darken-4'});
        }

        {% if upload_flag %}
            <!-- Put upload information success or fail information here -->
            upload_toast();
        {% endif %}

        {% if fail_upload_flag %}
            fail_upload_toast();
        {% endif %}

        {% if size_unmatch_flag %}
            size_unmatch_toast();
        {% endif %}

    </script>

{% endblock content %}