{% extends "base.html" %}
{% block name %}{{name}}{% endblock %}
{% block content %}
<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Detail Persiapan Masa Budidaya</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="#">Kolam</a></div>
                <div class="breadcrumb-item"><a href="{{url_for('feedhistoryMonthly')}}">Masa Budidaya</a></div>
                <div class="breadcrumb-item"><a href="#">Persiapan</a></div>
            </div>
        </div>

        <div class="section-body">
            <div class="card">
                <div class="card-body p-0">
                    <div class="table-responsive p-5">
                        <br>
                        <table class="table table-sm">
                            <tbody>
                                <tr>
                                    <th>Kolam</th>
                                    <td>: {{pond['alias']}}</td>
                                </tr>
                                <tr>
                                    <th>Ikan</th>
                                    <td>
                                        {% for fishz in pond["pond_activation"]["fish"] %}
                                        <p>- {{fishz["fish_type"]}}: {{fishz["fish_amount"]}}</p>
                                        {% endfor %}
                                    </td>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Persiapan Air</th>
                                    {% if pond["pond_activation"]["isWaterPreparation"] == True %}
                                    <td>: Yes</td>
                                    {% else %}
                                    <td>: No</td>
                                    {% endif %}
                                </tr>
                                {% if pond["pond_activation"]["isWaterPreparation"] == True %}
                                <tr>
                                    <th>Jenis Karbon</th>
                                    <td>: {{pond["pond_activation"]["water_preparation"]["carbohydrate_type"]}}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Dosis Karbon</th>
                                    <td>: {{pond["pond_activation"]["water_preparation"]["carbohydrate"]}} Gram/ml</td>
                                </tr>
                                <tr>
                                    <th>Dosis Garam</th>
                                    <td>: {{pond["pond_activation"]["water_preparation"]["salt"]}} Kg</td>
                                </tr>
                                <tr>
                                    <th>Dosis Kapur</th>
                                    <td>: {{pond["pond_activation"]["water_preparation"]["calcium"]}} Gram</td>
                                </tr>
                                {% else %}
                                <tr>
                                    <th>Keterangan</th>
                                    <td>: Pemindahan air dari kolam yang sedang aktif
                                    </td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}